API/
distr/
dxgui/
Config/
Data/
DemoMods/
Doc/
FUI/
l10n/
JConfHtml/
LuaSocket/
MissionEditor/
Mods/
Scripts/
Sounds.edc/
WebGUI/
_backup.000/
bin/
autoupdate.cfg
autoupdate.dat
autoupdate_log.txt
autoupdate_log_old.txt
cleanup.bat
dcs_manifest.bin
init_git_repo.bat
unins000.dat
unins000.exe
unins000.msg